JWT_SECRET=secret_key_here
PASSWORD_SALT_FACTOR = 10
EXPIRED_JWT_TOKEN=2h
EXPIRED_MESSAGE_SIGN=180
MESSAGE_SIGNATURE="KYCPlatform Signature"
APP_KEY=997183d0aa6b358a4a9db

NODE_ENV=development
PORT=8000

PRIVATE_KEY_ADMIN=49c480b02586f00d80ac5d1ea824bfc4490826f33ebc720d06d7a385a1551fe2